b.white{
    color:white;
    font: 150% sans-serif;
}
a:hover{
    color: #8A8070;
}
a{
    color:black;
    text-decoration: none;
}
a.cabecera:hover{
    color: #7ABA96;
   
}
.left{

    float:left;
    padding: 1%;
    width: 20%;
}
.right{
    float:left;
    padding: 1%;
    width: 50%;
}
.recetas{
    display: inline-block;
    margin-right:1%;
    margin-left:1%;
    text-align: center;
    width: 50%;
}

.row:after{
    display: block;
    clear: both;

}

.ebookt {
    text-align: center;
    width: 280px;
    display: block;
    background-color: #7ABA96;
    color: black;
    text-decoration: none;
    ;
}
